@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-apricot-50: oklch(97.05% 0.0147 33.16deg);
    --color-apricot-100: oklch(90.68% 0.0484 29.15deg);
    --color-apricot-200: oklch(84.36% 0.0861 29.59deg);
    --color-apricot-300: oklch(77.95% 0.1293 29.53deg);
    --color-apricot-400: oklch(71.73% 0.1771 29.78deg);
    --color-apricot-500: oklch(65.29% 0.1915 29.52deg);
    --color-apricot-600: oklch(56.52% 0.2165 29.55deg);
    --color-apricot-700: oklch(44.49% 0.1802 29.67deg);
    --color-apricot-800: oklch(32.18% 0.1302 29.69deg);
    --color-apricot-900: oklch(21.06% 0.0843 30.06deg);

    --color-mist-50: oklch(96.93% 0.0144 264.53deg);
    --color-mist-100: oklch(82.26% 0.0358 265.96deg);
    --color-mist-200: oklch(67.5% 0.0349 264.31deg);
    --color-mist-300: oklch(52.71% 0.0353 265.1deg);
    --color-mist-400: oklch(37.94% 0.0364 265.82deg);
    --color-mist-500: oklch(23.23% 0.0392 264.25deg);
    --color-mist-600: oklch(18.57% 0.0645 264.76deg);
    --color-mist-700: oklch(12.33% 0.0854 264.05deg);
    --color-mist-800: oklch(5.81% 0.0403 264.05deg);
    --color-mist-900: oklch(0% 0 none);

    --color-warm-night-50: oklch(97.02% 0.0043 17.64deg);
    --color-warm-night-100: oklch(82.9% 0.0034 17.67deg);
    --color-warm-night-200: oklch(68.87% 0.0035 17.6deg);
    --color-warm-night-300: oklch(54.78% 0.0037 17.54deg);
    --color-warm-night-400: oklch(40.73% 0.0027 17.54deg);
    --color-warm-night-500: oklch(26.59% 0.0075 17.7deg);
    --color-warm-night-600: oklch(21.37% 0.0316 20.02deg);
    --color-warm-night-700: oklch(14.1% 0.0564 16.46deg);
    --color-warm-night-800: oklch(6.7% 0.0275 29.23deg);
    --color-warm-night-900: oklch(0% 0 none);

    --font-mono: "IBM Plex Mono", monospace;
    --font-sans:
        "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif,
        "Noto Color Emoji";
    --font-serif: "IBM Plex Serif", ui-serif, Georgia, serif;

    --color-d-fill: var(--color-apricot-50);
    --color-d-txt-base: var(--color-apricot-900);
    --color-d-accent: var(--color-apricot-500);
    --color-d-card: var(--color-apricot-200);
    --color-d-card-muted: var(--color-apricot-300);
    --color-d-border: var(--color-apricot-700);
}

@custom-variant dark (&:where(.dark, .dark *));

@utility decoration-none {
    text-decoration: none;
}

@layer base {
    html {
        overflow-y: scroll;

        @variant dark {
            --color-d-fill: var(--color-warm-night-500);
            --color-d-txt-base: var(--color-warm-night-100);
            --color-d-accent: var(--color-apricot-400);
            --color-d-card: var(--color-warm-night-200);
            --color-d-card-muted: var(--color-warm-night-300);
            --color-d-border: var(--color-apricot-500);
        }
    }

    /* custom scrollbar */
    /* width */
    ::-webkit-scrollbar {
        @apply w-3;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-d-fill;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-d-card;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-d-card-muted;
    }

    /* socialIcons.ts */
    /* TODO: remomve this. I hate @apply rules */
    svg.icon-tabler {
        @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
    }
}
