@import 'tailwindcss';

@theme {
    --color-base-50: oklch(97.05% 0.0147 33.16deg);
    --color-base-100: oklch(90.68% 0.0484 29.15deg);
    --color-base-200: oklch(84.36% 0.0861 29.59deg);
    --color-base-300: oklch(77.95% 0.1293 29.53deg);
    --color-base-400: oklch(71.73% 0.1771 29.78deg);
    --color-base-500: oklch(65.29% 0.1915 29.52deg);
    --color-base-600: oklch(56.52% 0.2165 29.55deg);
    --color-base-700: oklch(44.49% 0.1802 29.67deg);
    --color-base-800: oklch(32.18% 0.1302 29.69deg);
    --color-base-900: oklch(21.06% 0.0843 30.06deg);

    --font-mono: 'IBM Plex Mono', monospace;
    --font-sans: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif, 'Noto Color Emoji';
    --font-serif: 'IBM Plex Serif', ui-serif, Georgia, serif;
}
