---
import { SITE } from "@/consts";
import getUniqueTags from "@/utils/getUniqueTags";
import RootLayout from "@/layouts/RootLayout.astro";
import Tag from "@/components/Tag.astro";
import getPosts from "@/utils/getPosts";

const posts = await getPosts();

let tags = getUniqueTags(posts);
---

<RootLayout title={`Tags | ${SITE.title}`}>
    <h1 class="text-2xl font-semibold sm:text-3xl">Tags</h1>
    <p class="italic">Explore posts by tags.</p>
    <ul>
        {
            tags.map(({ tag, tagName }) => (
                <Tag {tag} tagName={tagName} size="lg" />
            ))
        }
    </ul>
</RootLayout>
