---
import { SITE } from "@/consts";
import { useTranslations } from "@/i18n";
import RootLayout from "@/layouts/RootLayout.astro";
import { ArrowLeft } from "@lucide/astro";

const currentLang = Astro.currentLocale;
const localized = useTranslations(currentLang);
---

<RootLayout title={`404 Not Found | ${SITE.title}`}>
    <div class="mt-12 flex flex-col items-center justify-center">
        <h1 aria-label="404 Not Found" class="text-d-accent text-9xl font-bold">
            404
        </h1>
        <span aria-hidden="true">¯\_(ツ)_/¯</span>
        <p class="mt-4 text-2xl sm:text-3xl">{localized.PAGE404.notfound}</p>
        <a
            href="/"
            class="hover:text-d-accent my-6 mt-14 inline-flex items-center justify-between underline decoration-dashed underline-offset-8"
        >
            <ArrowLeft class="mr-2 size-4" />
            {localized.PAGE404.goback}
        </a>
    </div>
</RootLayout>
