---
import RootLayout from "@/layouts/RootLayout.astro";
import { Rss } from "@lucide/astro";
---

<RootLayout>
    <section class="prose pb-6">
        <h1 class="my-4 text-3xl font-bold">
            Welcome!
            <!-- TODO: Maybe more this to header top-left -->
            <a
                target="_blank"
                href="/rss.xml"
                aria-label="rss-link"
                title="RSS Feed"
            >
                <Rss
                    class="stroke-d-accent m-auto inline-block size-5 align-middle"
                />
            </a>
        </h1>

        <p>
            Hi there! I'm Rohit, and welcome to Dev Avatar, my technical blog
            where I write about things I am working/learning, development logs,
            and other things involving a computer. Major interests and likes
            include computers, japanese culture, anime, and exercise.
        </p>
        <p>
            I'm rebuilding Dev Avatar at the moment. You are on the rebuild, the
            current site is on <a href="https://devavatar.com">devavatar</a>
        </p>
        <p class="mt-4">
            <a href="https://discord.gg/H92KUTAFds" rel="noreferrer noopener"
                >Join the discord</a
            >
        </p>
    </section>

    <hr class="text-d-border my-8" />

    <section class="prose">
        <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
        <p><em>TODO</em></p>
    </section>

    <hr class="text-d-border my-8" />

    <section class="prose">
        <h2 class="text-2xl font-semibold tracking-wide">Recent Projects</h2>
        <p><em>TODO</em></p>
    </section>

    <hr class="text-d-border my-8" />

    <section class="prose">
        <h2 class="text-2xl font-semibold tracking-wide">Placeholder</h2>
        <p><em>TODO</em></p>
    </section>
</RootLayout>
