---
import RootLayout from '@/layouts/RootLayout.astro';
import { Rss } from '@lucide/astro';
---

<RootLayout>
    <section class='mx-auto max-w-3xl px-4 pt-8 pb-6'>
        <h1 class=''>
            Welcome!
            <a target='_blank' href='/rss.xml' aria-label='rss-link' title='RSS Feed'>
                <Rss class='stroke-d-accent ml-2 inline-block size-4' />
            </a>
        </h1>
    </section>
</RootLayout>
