---
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import getPosts from "@/utils/getPosts";
import { ArrowRight, BrushCleaning, Rss } from "@lucide/astro";

const posts = await getPosts();
---

<RootLayout>
    <section>
        <h1 class="my-4 text-3xl font-bold">
            Welcome!
            <!-- TODO: Maybe more this to header top-left -->
            <a
                target="_blank"
                href="/rss.xml"
                rel="noopener noreferrer"
                aria-label="rss-link"
                title="RSS Feed"
            >
                <Rss
                    class="stroke-d-accent m-auto inline-block size-5 align-middle"
                />
            </a>
        </h1>

        <article>
            <p>
                Hi there! I'm Rohit, and welcome to Dev Avatar, my technical
                blog where I write about things I am working/learning,
                development logs, and other things involving a computer. Major
                interests and likes include computers, japanese culture, anime,
                and exercise.
            </p>
            <p>
                I'm rebuilding Dev Avatar at the moment. You are on the rebuild,
                the current site is on <a href="https://devavatar.com"
                    >devavatar</a
                >
            </p>
            <p class="mt-4">
                <a
                    href="https://discord.gg/H92KUTAFds"
                    rel="noreferrer noopener">Join the discord</a
                >
            </p>
        </article>
    </section>

    <Hr />

    <section>
        <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
        <ul>
            {
                posts.map(
                    ({ data, id }, index) =>
                        index < 4 && (
                            <Card
                                href={`/posts/${id}`}
                                postId={id}
                                frontmatter={data}
                            />
                        )
                )
            }
        </ul>
        <div class="my-4 text-center">
            <a
                href="/posts"
                class="group hover:text-d-accent inline-flex items-center justify-center gap-2"
            >
                All Posts
                <ArrowRight
                    class="group-hover:text-d-accent text-d-txt-base size-4"
                />
            </a>
        </div>
    </section>

    <Hr />

    <!-- TODO: project section -->
    <section>
        <h2 class="text-2xl font-semibold tracking-wide">Recent Projects</h2>
        <div
            class="bg-d-fill border-d-border w-fit rounded border px-2 py-1 text-sm uppercase"
            title="This section is work-in-progress"
        >
            <BrushCleaning class="mr-2 inline-block size-4 align-middle" />
            Under construction
        </div>
    </section>
</RootLayout>
