---
import { SITE } from "@/consts";
import RootLayout from "@/layouts/RootLayout.astro";
import { BrushCleaning, SearchIcon } from "@lucide/astro";
---

<RootLayout
    title={`Search | ${SITE.title}`}
    description="Search for anything..."
>
    <h1 class="mb-2 text-3xl font-bold">Search</h1>

    <!-- TODO: search -->
    <div
        class="bg-d-fill border-d-border my-4 w-fit rounded border px-2 py-1 text-sm uppercase"
        title="This section is work-in-progress"
    >
        <BrushCleaning class="mr-2 inline-block size-4 align-middle" />
        Under construction
    </div>

    <label class="relative block">
        <span
            class="absolute inset-y-0 left-0 flex items-center pl-2 opacity-75"
        >
            <SearchIcon class="text-d-txt-base" aria-hidden="true" />
            <span class="sr-only">Search</span>
        </span>
        <input
            class="border-d-border bg-d-fill placeholder:text-opacity-75 block w-full rounded border py-3 pr-3 pl-10 placeholder:italic focus:outline-none"
            placeholder="how to do..."
            type="text"
            name="search"
            autocomplete="off"
            autofocus
        />
    </label>
</RootLayout>
