---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { Calendar } from "@lucide/astro";
import { useTranslations } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

export interface Props {
    href?: string;
    postId: string;
    frontmatter: CollectionEntry<"blog">["data"];
}

const { href, postId, frontmatter } = Astro.props;

const { title, description, pubDatetime, modDatetime, draft } = frontmatter;

const currentLang = Astro.currentLocale;
const localized = useTranslations(currentLang);
---

<li class="my-6 list-none">
    <a href={getRelativeLocaleUrl(currentLang ?? "en", href)}>
        <!-- <img width={720} height={360} src={} alt="" /> -->
        <h2
            class="text-d-accent inline-block text-lg font-semibold decoration-dashed underline-offset-4 hover:underline hover:decoration-dashed hover:underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
            transition:name={postId}
        >
            {title}
        </h2>
    </a>

    {
        draft ? (
            <div class="text-d-card-muted text-sm uppercase">
                [{localized.card.draft}]
            </div>
        ) : (
            <div class="my-2 flex items-center text-sm italic opacity-80">
                <Calendar class="mr-1 size-4" />
                {modDatetime && localized.card.updated}
                &nbsp;
                <FormattedDate date={modDatetime || pubDatetime} />
            </div>
        )
    }

    <p>
        {description}
    </p>
</li>
