---
import { getLangFromUrl, useTranslations } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
    class="border-d-border mx-auto mt-6 w-full max-w-4xl border-t px-4 pt-8 pb-4 opacity-90"
>
    <Socials centered showRss />

    <div
        class="mt-2 flex flex-col items-center justify-center gap-y-2 text-sm sm:flex-row sm:gap-x-4"
    >
        <a
            href={getRelativeLocaleUrl(lang, "support")}
            class="block underline decoration-dashed underline-offset-4 hover:decoration-wavy"
        >
            {t("footer.support")}
        </a>
        <span class="hidden sm:block">・</span>
        <a
            href="https://github.com/r0hitm/devavatar/issues"
            target="_blank"
            class="block underline decoration-dashed underline-offset-4 hover:decoration-wavy"
            rel="noopener noreferrer"
        >
            {t("footer.report")}
        </a>
    </div>

    <p class="mt-4 text-center text-sm">
        {t("footer.cookie")}
    </p>

    <div
        class="mt-2 flex flex-col items-center justify-center gap-y-2 text-sm sm:flex-row sm:gap-x-4"
    >
        <span>
            &copy; {currentYear}
            Rohit Mehta
        </span>
        <span class="hidden sm:block">・</span>
        <span>
            <a
                href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                class="hover:underline hover:decoration-wavy hover:underline-offset-4"
                target="_blank"
            >
                CC BY-NC-SA 4.0
            </a>
        </span>
    </div>
</footer>
