---
const currentYear = new Date().getFullYear();
---

<footer
    class="border-d-border mx-auto mt-6 w-full max-w-4xl border-t px-4 pt-8 pb-4 opacity-90"
>
    <div
        class="flex flex-col items-center space-y-2 sm:flex-row sm:justify-between sm:space-y-0"
    >
        <p class="text-sm">
            &copy; {currentYear}
            Rohit Mehta
        </p>
        <p class="text-sm">
            <a
                href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                class="hover:underline hover:decoration-dashed hover:underline-offset-4"
                target="_blank"
            >
                CC BY-NC-SA 4.0
            </a>
        </p>
    </div>

    <!-- TODO: Social links + `support me` page -->
    <!-- TODO: report an issue (links to github issues) -->

    <p class="mt-4 text-center text-xs">
        No cookies, no ads, no tracking ― just blog.
    </p>
</footer>
