---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const pathname = Astro.url.pathname;
const subpath = pathname.match(/[^\/]+/g);
const navpath = subpath && subpath[subpath.length - 1];
const isActive =
    href === pathname ||
    href === "/" + (navpath || "") ||
    href === "/ja/" + (navpath || "") + "/"; // Fuck! localized urls are ending w/ `/` - fault or astro relativeurl I suppose
---

<a
    data-astro-prefetch="load"
    href={href}
    class:list={[
        "decoration-none hover:text-d-accent inline-block text-center font-medium",
        isActive && "active",
        className
    ]}
    {...props}
>
    <slot />
</a>

<style>
    @reference "../styles/global.css";

    a.active {
        @apply underline decoration-wavy decoration-2 underline-offset-4;
    }

    a.active.like-button {
        @apply text-d-accent;
    }
</style>
