---

---

<div
    class="prose prose-a:hover:no-underline prose-headings:text-d-txt-base prose-li:marker:text-d-accent prose-a:hover:text-d-accent prose-a:underline prose-a:underline-offset-4 prose-a:decoration-dashed prose-p:text-justify prose-img:rounded-xl text-inherit"
>
    <slot />
</div>
