---

---

<div
    class="prose prose-h1:font-bold prose-a:hover:no-underline prose-li:marker:text-d-accent prose-a:hover:text-d-accent prose-h1:text-xl prose-a:underline prose-a:underline-offset-4 prose-a:decoration-dashed prose-p:text-justify prose-img:rounded-xl"
>
    <slot />
</div>
