---
import { Sun, Moon } from "@lucide/astro";
---

<button
    class="theme-toggle hover:text-d-accent inline-block cursor-pointer p-2"
    title="Toggles light & dark theme"
    aria-label="toggle-theme"
    aria-live="polite"
>
    <Moon class="moon size-4 dark:hidden" />
    <Sun class="sun size-4 not-dark:hidden" />
</button>

<script is:inline>
    if (!document.documentElement.dataset.themeSetup) {
        document.documentElement.dataset.themeSetup = "true";

        const applyTheme = theme => {
            document.documentElement.dataset.theme = theme;
            localStorage.setItem("theme", theme);
        };

        let theme = localStorage.getItem("theme");
        if (theme !== "light" && theme !== "dark") {
            theme = window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "dark"
                : "light";
        }

        applyTheme(theme);

        document.addEventListener("click", e => {
            if (!e.target.closest(".theme-toggle")) return;
            const newTheme =
                document.documentElement.dataset.theme === "dark"
                    ? "light"
                    : "dark";
            applyTheme(newTheme);
        });

        document.addEventListener("astro:after-swap", () => {
            const theme = localStorage.getItem("theme");
            document.documentElement.dataset.theme =
                theme === "dark" ? "dark" : "light";
        });
    }
</script>
