---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import RootLayout from "./RootLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDatetime, modDatetime } = Astro.props;

// TODO: view transition api : https://docs.astro.build/en/guides/view-transitions/
---

<RootLayout>
    <article>
        <!-- <div class='hero-image'>
            {typeof ogImage === 'string' && <img width={1020} height={510} src={ogImage} alt='' />}
        </div> -->
        <div class="prose">
            <div class="title">
                <div class="date">
                    <FormattedDate date={pubDatetime} />
                    {
                        modDatetime && (
                            <div class="last-updated-on">
                                Last updated on{" "}
                                <FormattedDate date={modDatetime} />
                            </div>
                        )
                    }
                </div>
                <h1 transition:name={title.replaceAll(/\s/g, "-")}>{title}</h1>
                <hr />
            </div>
            <slot />
        </div>
    </article>
</RootLayout>
