---
import { SITE } from "@/consts";
import RootLayout from "./RootLayout.astro";
import Prose from "@/components/Prose.astro";
// TODO: import Breadcrumbs from "@components/Breadcrumbs.astro";

interface Props {
    frontmatter: {
        title: string;
        description?: string;
    };
}

const { frontmatter } = Astro.props;
---

<RootLayout
    title={`${frontmatter.title} | ${SITE.title}`}
    description={frontmatter.description}
>
    <h1 class="mb-2 text-3xl font-bold">
        {frontmatter.title}
    </h1>
    <article role="article">
        <Prose>
            <slot />
        </Prose>
    </article>
</RootLayout>
