---
import { SITE } from "@/consts";
import RootLayout from "./RootLayout.astro";
import Prose from "@/components/Prose.astro";
import { Calendar } from "@lucide/astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { getLangFromUrl, useTranslations } from "@/i18n";
import type { LANG } from "@/i18n/ui";
// TODO: import Breadcrumbs from "@components/Breadcrumbs.astro";

interface Props {
    frontmatter: {
        title: string;
        lastUpdated?: string;
        description?: string;
    };
}

const { frontmatter } = Astro.props;
// const lang = getLangFromUrl(Astro.url);
const lang = (Astro.currentLocale || "en") as keyof typeof LANG;
const t = useTranslations(lang);
---

<RootLayout
    title={`${frontmatter.title} | ${SITE.title}`}
    description={frontmatter.description}
>
    <h1 class="mb-2 text-3xl font-bold">
        {frontmatter.title}
    </h1>
    {
        frontmatter.lastUpdated && (
            <div class="my-2 flex items-center text-sm italic opacity-80">
                <Calendar class="mr-1 size-4" />
                {t("page.updated")}&nbsp;
                <FormattedDate date={new Date(frontmatter.lastUpdated)} />
            </div>
        )
    }

    <article role="article">
        <Prose>
            <slot />
        </Prose>
    </article>
</RootLayout>
